
<script src="assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="assets/js/core/jquery.3.2.1.min.js"></script>
<script src="assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugin/chartist/chartist.min.js"></script>

<script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/js/ready.min.js"></script>
<script src="assets/js/demo.js"></script>

<ion-content>
<div class="wrapper">
  <div class="main-header">
    <div class="logo-header">
      <a href="index.html" class="logo">
        ZAOGA-LINK Dashboard
      </a>
      <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
    </div>
    <nav class="navbar navbar-header navbar-expand-lg">
      <div class="container-fluid">
        
        <form class="navbar-left navbar-form nav-search mr-md-3" action="">
          <div class="input-group">
            <input type="text" placeholder="Search ..." class="form-control">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="la la-search search-icon"></i>
              </span>
            </div>
          </div>
        </form>
        <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
         
          
          <li class="nav-item dropdown">
            <a class="dropdown-toggle profile-pic"> <img src="assets/imgs/icon.png" alt="user-img" width="36" class="img-circle"><span >{{username}}</span> </a>
           <ul class="dropdown-menu dropdown-user">
              <li>
                
                </li>
                
              </ul>
              <!-- /.dropdown-user -->
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="sidebar">
      <div class="scrollbar-inner sidebar-wrapper">
               
        <ul class="nav">
          <li class="nav-item" (click)="navigator('Remittance')">
            <a >
              <i class="la la-home"></i>
              <p>Remittance Form</p>
              
            </a>
          </li>
          
          
         
          <li class="nav-item" (click)="navigator('Reports')">
            <a >
              <i class="la la-leanpub"></i>
              <p>Reports</p>
              
            </a>
          </li>

          <li class="nav-item active" (click)="navigator('CashHandOver')">
              <a >
                <i class="la la-institution"></i>
                <p>Cash Hand Over</p>
  
              </a>
          </li>
          
          
          
        </ul>
      </div>
    </div>

    <div class="main-panel">
        <div class="content">
          <div class="container-fluid">
            
            <!-- Remittance Form HTML -->
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                      <div class="card-title">Day End Cash Hand Over Form
                      <button (click)="onFindData()" style="margin-left: 60%;" class="btn btn-success">Search</button>  
                    </div>           
                  </div>
                  <div class="card-body">
                      <ion-grid padding>
                          <ion-row>
                            <ion-col class="form-group col-md-12 push-3">
                               
                                    
                                    <label for="email">Posting Date</label>
                                    <ion-item>
                                        <ion-label floating>
                                        
                                          </ion-label>
                                          <ion-input type="date" [(ngModel)]="date" class="form-control" id="postingdate" required></ion-input>
                                    </ion-item>
                                  
                                   
                                    
                                  
                            </ion-col>
                            <ion-col class="form-group col-md-6">
                              
                            </ion-col>
                            <ion-col class="form-group col-md-12">
                                <label for="email">User Name</label>
                              <ion-item>
                                  <ion-label floating>

                                  </ion-label>
                                  
                                  <ion-input (keypress)="onKeyPressed($event)" type="text" [(ngModel)]="bankTailer" class="form-control" id="customer" placeholder="User Name"></ion-input>

                              </ion-item>
                                
                                    
                                    
                            </ion-col>

                          </ion-row>
                          <ion-row>
                            <ion-col>
                                <table class="table table-bordered">
                                    <tr>
                                      <th >#</th>
                                      <th >Item Description</th>
                                      <th>ZWD</th>
                                      <th>USD</th>
                                      <th>ZAR</th>
                                      <th>BWP</th>
                                      <th>GBP</th>
                                      <th>EUR</th>
                                      
                                       </tr>
                                       <tr *ngIf="tester('fivehundred')">
                                          <th>#</th>
                                          <th>Notes 500s</th>
                                          <th>{{CashBreakDownZWD[0].fivehundred}}</th>
                                          <th>{{CashBreakDownUSD[0].fivehundred}}</th>
                                          <th>{{CashBreakDownZAR[0].fivehundred}}</th>
                                          <th>{{CashBreakDownBWP[0].fivehundred}}</th>
                                          <th>{{CashBreakDownGBP[0].fivehundred}}</th>
                                          <th>{{CashBreakDownEUR[0].fivehundred}}</th>
                                       </tr>
                                       <tr *ngIf="tester('twohundred')">
                                          <th>#</th>
                                          <th>Notes 200s</th>
                                          <th>{{CashBreakDownZWD[0].twohundred}}</th>
                                          <th>{{CashBreakDownUSD[0].twohundred}}</th>
                                          <th>{{CashBreakDownZAR[0].twohundred}}</th>
                                          <th>{{CashBreakDownBWP[0].twohundred}}</th>
                                          <th>{{CashBreakDownGBP[0].twohundred}}</th>
                                          <th>{{CashBreakDownEUR[0].twohundred}}</th>
                                       </tr>
                                       <tr *ngIf="tester('hundred')">
                                          <th>#</th>
                                          <th>Notes 100s</th>
                                          <th>{{CashBreakDownZWD[0].hundred}}</th>
                                          <th>{{CashBreakDownUSD[0].hundred}}</th>
                                          <th>{{CashBreakDownZAR[0].hundred}}</th>
                                          <th>{{CashBreakDownBWP[0].hundred}}</th>
                                          <th>{{CashBreakDownGBP[0].hundred}}</th>
                                          <th>{{CashBreakDownEUR[0].hundred}}</th>
                                       </tr>
                                       <tr *ngIf="tester('fifty')">
                                          <th>#</th>
                                          <th>Notes 50s</th>
                                          <th>{{CashBreakDownZWD[0].fifty}}</th>
                                          <th>{{CashBreakDownUSD[0].fifty}}</th>
                                          <th>{{CashBreakDownZAR[0].fifty}}</th>
                                          <th>{{CashBreakDownBWP[0].fifty}}</th>
                                          <th>{{CashBreakDownGBP[0].fifty}}</th>
                                          <th>{{CashBreakDownEUR[0].fifty}}</th>
                                       </tr>
                                       <tr *ngIf="tester('twenty')">
                                          <th>#</th>
                                          <th>Notes 20</th>
                                          <th>{{CashBreakDownZWD[0].twenty}}</th>
                                          <th>{{CashBreakDownUSD[0].twenty}}</th>
                                          <th>{{CashBreakDownZAR[0].twenty}}</th>
                                          <th>{{CashBreakDownBWP[0].twenty}}</th>
                                          <th>{{CashBreakDownGBP[0].twenty}}</th>
                                          <th>{{CashBreakDownEUR[0].twenty}}</th>
                                       </tr>
                                       <tr *ngIf="tester('ten')">
                                          <th>#</th>
                                          <th>Notes 10s</th>
                                          <th>{{CashBreakDownZWD[0].ten}}</th>
                                          <th>{{CashBreakDownUSD[0].ten}}</th>
                                          <th>{{CashBreakDownZAR[0].ten}}</th>
                                          <th>{{CashBreakDownBWP[0].ten}}</th>
                                          <th>{{CashBreakDownGBP[0].ten}}</th>
                                          <th>{{CashBreakDownEUR[0].ten}}</th>
                                       </tr>
                                       <tr *ngIf="tester('five')">
                                          <th>#</th>
                                          <th>Notes 5s</th>
                                          <th>{{CashBreakDownZWD[0].five}}</th>
                                          <th>{{CashBreakDownUSD[0].five}}</th>
                                          <th>{{CashBreakDownZAR[0].five}}</th>
                                          <th>{{CashBreakDownBWP[0].five}}</th>
                                          <th>{{CashBreakDownGBP[0].five}}</th>
                                          <th>{{CashBreakDownEUR[0].five}}</th>
                                       </tr>
                                       <tr *ngIf="tester('two')">
                                          <th>#</th>
                                          <th>Notes 2s</th>
                                          <th>{{CashBreakDownZWD[0].two}}</th>
                                          <th>{{CashBreakDownUSD[0].two}}</th>
                                          <th>{{CashBreakDownZAR[0].two}}</th>
                                          <th>{{CashBreakDownBWP[0].two}}</th>
                                          <th>{{CashBreakDownGBP[0].two}}</th>
                                          <th>{{CashBreakDownEUR[0].two}}</th>
                                       </tr>
                                       <tr *ngIf="tester('one')">
                                          <th>#</th>
                                          <th>Notes 1s</th>
                                          <th>{{CashBreakDownZWD[0].one}}</th>
                                          <th>{{CashBreakDownUSD[0].one}}</th>
                                          <th>{{CashBreakDownZAR[0].one}}</th>
                                          <th>{{CashBreakDownBWP[0].one}}</th>
                                          <th>{{CashBreakDownGBP[0].one}}</th>
                                          <th>{{CashBreakDownEUR[0].one}}</th>
                                       </tr>
                                       <tr *ngIf="tester('fivedollarcoin')">
                                          <th>#</th>
                                          <th>5 coins</th>
                                          <th>{{CashBreakDownZWD[0].fivedollarcoin}}</th>
                                          <th>{{CashBreakDownUSD[0].fivedollarcoin}}</th>
                                          <th>{{CashBreakDownZAR[0].fivedollarcoin}}</th>
                                          <th>{{CashBreakDownBWP[0].fivedollarcoin}}</th>
                                          <th>{{CashBreakDownGBP[0].fivedollarcoin}}</th>
                                          <th>{{CashBreakDownEUR[0].fivedollarcoin}}</th>
                                       </tr>
                                       <tr *ngIf="tester('twodollarcoin')">
                                          <th>#</th>
                                          <th>2 coins</th>
                                          <th>{{CashBreakDownZWD[0].twodollarcoin}}</th>
                                          <th>{{CashBreakDownUSD[0].twodollarcoin}}</th>
                                          <th>{{CashBreakDownZAR[0].twodollarcoin}}</th>
                                          <th>{{CashBreakDownBWP[0].twodollarcoin}}</th>
                                          <th>{{CashBreakDownGBP[0].twodollarcoin}}</th>
                                          <th>{{CashBreakDownEUR[0].twodollarcoin}}</th>
                                       </tr>
                                       <tr *ngIf="tester('dollarcoin')">
                                          <th>#</th>
                                          <th>1 coins</th>
                                          <th>{{CashBreakDownZWD[0].dollarcoin}}</th>
                                          <th>{{CashBreakDownUSD[0].dollarcoin}}</th>
                                          <th>{{CashBreakDownZAR[0].dollarcoin}}</th>
                                          <th>{{CashBreakDownBWP[0].dollarcoin}}</th>
                                          <th>{{CashBreakDownGBP[0].dollarcoin}}</th>
                                          <th>{{CashBreakDownEUR[0].dollarcoin}}</th>
                                       </tr>
                                       <tr *ngIf="tester('fiftycoin')">
                                          <th>#</th>
                                          <th>0.50 coins</th>
                                          <th>{{CashBreakDownZWD[0].fiftycoin}}</th>
                                          <th>{{CashBreakDownUSD[0].fiftycoin}}</th>
                                          <th>{{CashBreakDownZAR[0].fiftycoin}}</th>
                                          <th>{{CashBreakDownBWP[0].fiftycoin}}</th>
                                          <th>{{CashBreakDownGBP[0].fiftycoin}}</th>
                                          <th>{{CashBreakDownEUR[0].fiftycoin}}</th>
                                       </tr>
                                       <tr *ngIf="tester('twentyfivecoin')">
                                          <th>#</th>
                                          <th>0.25 coins</th>
                                          <th>{{CashBreakDownZWD[0].twentyfivecoin}}</th>
                                          <th>{{CashBreakDownUSD[0].twentyfivecoin}}</th>
                                          <th>{{CashBreakDownZAR[0].twentyfivecoin}}</th>
                                          <th>{{CashBreakDownBWP[0].twentyfivecoin}}</th>
                                          <th>{{CashBreakDownGBP[0].twentyfivecoin}}</th>
                                          <th>{{CashBreakDownEUR[0].twentyfivecoin}}</th>
                                       </tr>
                                       <tr *ngIf="tester('twentycoin')">
                                          <th>#</th>
                                          <th>0.20 coins</th>
                                          <th>{{CashBreakDownZWD[0].twentycoin}}</th>
                                          <th>{{CashBreakDownUSD[0].twentycoin}}</th>
                                          <th>{{CashBreakDownZAR[0].twentycoin}}</th>
                                          <th>{{CashBreakDownBWP[0].twentycoin}}</th>
                                          <th>{{CashBreakDownGBP[0].twentycoin}}</th>
                                          <th>{{CashBreakDownEUR[0].twentycoin}}</th>
                                       </tr>
                                       <tr *ngIf="tester('tencoin')">
                                          <th>#</th>
                                          <th>0.10 coins</th>
                                          <th>{{CashBreakDownZWD[0].tencoin}}</th>
                                          <th>{{CashBreakDownUSD[0].tencoin}}</th>
                                          <th>{{CashBreakDownZAR[0].tencoin}}</th>
                                          <th>{{CashBreakDownBWP[0].tencoin}}</th>
                                          <th>{{CashBreakDownGBP[0].tencoin}}</th>
                                          <th>{{CashBreakDownEUR[0].tencoin}}</th>
                                       </tr>
                                       <tr *ngIf="tester('fivecoin')">
                                          <th>#</th>
                                          <th>0.05 coins</th>
                                          <th>{{CashBreakDownZWD[0].fivecoin}}</th>
                                          <th>{{CashBreakDownUSD[0].fivecoin}}</th>
                                          <th>{{CashBreakDownZAR[0].fivecoin}}</th>
                                          <th>{{CashBreakDownBWP[0].fivecoin}}</th>
                                          <th>{{CashBreakDownGBP[0].fivecoin}}</th>
                                          <th>{{CashBreakDownEUR[0].fivecoin}}</th>
                                       </tr>
                                       <tr *ngIf="tester('twocoin')">
                                          <th>#</th>
                                          <th>0.02 coins</th>
                                          <th>{{CashBreakDownZWD[0].twocoin}}</th>
                                          <th>{{CashBreakDownUSD[0].twocoin}}</th>
                                          <th>{{CashBreakDownZAR[0].twocoin}}</th>
                                          <th>{{CashBreakDownBWP[0].twocoin}}</th>
                                          <th>{{CashBreakDownGBP[0].twocoin}}</th>
                                          <th>{{CashBreakDownEUR[0].twocoin}}</th>
                                       </tr>
                                       <tr *ngIf="tester('onecoin')">
                                          <th>#</th>
                                          <th>0.01 coins</th>
                                          <th>{{CashBreakDownZWD[0].onecoin}}</th>
                                          <th>{{CashBreakDownUSD[0].onecoin}}</th>
                                          <th>{{CashBreakDownZAR[0].onecoin}}</th>
                                          <th>{{CashBreakDownBWP[0].onecoin}}</th>
                                          <th>{{CashBreakDownGBP[0].onecoin}}</th>
                                          <th>{{CashBreakDownEUR[0].onecoin}}</th>
                                       </tr>
                                                          
                                    
                                        <tr>
                                          <th>#</th>
                                          <th>Captured Total</th>
                                          <th>{{TotalZWD.toFixed(2)}}</th>
                                          <th>{{TotalUSD.toFixed(2)}}</th>
                                          <th>{{TotalZAR.toFixed(2)}}</th>
                                          <th>{{TotalBWP.toFixed(2)}}</th>
                                          <th>{{TotalGBP.toFixed(2)}}</th>
                                          <th>{{TotalEUR.toFixed(2)}}</th>
                                          
                
                                        </tr>
                                        
                                        <tr>
                                          <th></th>
                                          <th>Supervisor Total</th>
                                          <th (click)="cashbreakdown('ZWD')"><button class="btn btn-success" >{{cashTotalZWD}}</button></th>
                                          <th (click)="cashbreakdown('USD')"><button class="btn btn-success" >{{cashTotalUSD}}</button></th>
                                          <th (click)="cashbreakdown('ZAR')"><button class="btn btn-success" >{{cashTotalZAR}}</button></th>
                                          <th (click)="cashbreakdown('BWP')"><button class="btn btn-success" >{{cashTotalBWP}}</button></th>
                                          <th (click)="cashbreakdown('GBP')"><button class="btn btn-success" >{{cashTotalGBP}}</button></th>
                                          <th (click)="cashbreakdown('EUR')"><button class="btn btn-success" >{{cashTotalEUR}}</button></th>                        
                
                                        </tr>             
                
                
                
                                    </table>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                   
                    
                   
                    
                   
                  </div>
                </div>
               
              </div>
            
            
          </div>
        </div>
       </div>
      </div>

    
  </div>
</ion-content>