page-imageview {
    img {
        vertical-align: middle;
        border-style: none;
        padding: 60px;
        background-color: gainsboro;
    }
    .fixed-content {
        
        background-color: gainsboro;
    }
}
