// http://ionicframework.com/docs/theming/

@import "../theme/animate";
//@import "../theme/font-awesome.min";
//@import "../theme/magnific-popup";
//@import "../theme/materialize";

//@import "../theme/swiper.min";
//@import "../theme/toggle";
//@import "../theme/animate.min";
//@import "../theme/bootstrap.min";
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@media only screen and (orientation: landscape)  {
    .my-modal {
     .modal-wrapper {
       position: absolute;
       top: 7% !important;
       left: 10% !important;
       display: flex;
       justify-content: center;
       width: 80% !important;
       height: 90% !important;
     } 
   }
 }

 @media only screen and (orientation: landscape)  {
  .my-modal2 {
   .modal-wrapper {
    //  position: absolute;
    //  top: 7% !important;
    //  left: 10% !important;
    //  display: flex;
    //  justify-content: center;
     width: 50% !important;
     height: 50% !important;
   } 
 }
}