<!--
  Generated template for the UpdatePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
      <ion-title>Cash Break Down : Hand Over Page</ion-title>
      <ion-buttons end>
          <button ion-button icon-only (click)="closeModel()"><ion-icon name="close"></ion-icon></button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
   
  
  <ion-content padding>
      <!-- <ion-item>
          <ion-label>Cash Currency</ion-label>
          <ion-select [(ngModel)]="CashNotes.currency">
          <ion-option value="USD">USD</ion-option>
          <ion-option value="ZAR">ZAR</ion-option>
          <ion-option value="BWP">BWP</ion-option>
          <ion-option value="GBP">GBP</ion-option>
          <ion-option value="EUR">EUR</ion-option>
        </ion-select>
      </ion-item> -->
      <ion-grid padding>
          <ion-row *ngIf="currency == 'ZWD'">
            <ion-col class="form-group col-md-12 push-3">                  
                    <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesZWD.five" class="form-control" placeholder="$5s"></ion-input>
                    <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesZWD.two" class="form-control" placeholder="$2s"></ion-input>
                    <button style="margin-top: 15px;" class="btn btn-success" (click)="Link()">Add Break-Down</button>
            </ion-col>
            
            <ion-col class="form-group col-md-12">
                    <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesZWD.dollarcoin" class="form-control" placeholder="$1 coins"></ion-input>
                    <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesZWD.fiftycoin" class="form-control" placeholder="50c coins"></ion-input>
                    <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesZWD.twentyfivecoin" class="form-control" placeholder="25c coins"></ion-input>
                    <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesZWD.tencoin" class="form-control" placeholder="10c coins"></ion-input>
                    <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesZWD.fivecoin" class="form-control" placeholder="5c coins"></ion-input>
                   
                                    
            </ion-col>
          </ion-row>
          <ion-row *ngIf="currency == 'USD'">
              <ion-col class="form-group col-md-12 push-3">                  
                      <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesUSD.hundred" class="form-control" placeholder="$100s"></ion-input>
                      <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesUSD.fifty" class="form-control" placeholder="$50s"></ion-input>
                      <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesUSD.twenty" class="form-control" placeholder="$20s"></ion-input>
                      <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesUSD.ten" class="form-control" placeholder="$10s"></ion-input>
              </ion-col>
              
              <ion-col class="form-group col-md-12">
                  <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesUSD.five" class="form-control" placeholder="$5s"></ion-input>
                  <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesUSD.two" class="form-control" placeholder="$2s"></ion-input>
                  <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesUSD.one" class="form-control" placeholder="$1s"></ion-input>
                  <button style="margin-top: 15px;" class="btn btn-success" (click)="Link()">Add Break-Down</button>                
              </ion-col>
            </ion-row>
            <ion-row *ngIf="currency == 'BWP'">
                <ion-col class="form-group col-md-12 push-3">                  
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesBWP.twohundred" class="form-control" placeholder="P200s"></ion-input>
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesBWP.hundred" class="form-control" placeholder="P100s"></ion-input>
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesBWP.fifty" class="form-control" placeholder="P50s"></ion-input>
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesBWP.twenty" class="form-control" placeholder="P20s"></ion-input>
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesBWP.ten" class="form-control" placeholder="P10s"></ion-input>
                        <button style="margin-top: 15px;" class="btn btn-success" (click)="Link()">Add Break-Down</button>     
                </ion-col>
                
                <ion-col class="form-group col-md-12">
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesBWP.fivedollarcoin" class="form-control" placeholder="P5 coins"></ion-input>
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesBWP.twodollarcoin" class="form-control" placeholder="P2 coins"></ion-input>
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesBWP.dollarcoin" class="form-control" placeholder="P1 coins"></ion-input>
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesBWP.fiftycoin" class="form-control" placeholder="50t coins"></ion-input>
                       
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesBWP.tencoin" class="form-control" placeholder="10t coins"></ion-input>
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesBWP.fivecoin" class="form-control" placeholder="5t coins"></ion-input>
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesBWP.onecoin" class="form-control" placeholder="1t coins"></ion-input>
                                   
                </ion-col>
              </ion-row>
              <ion-row *ngIf="currency == 'ZAR'">
                  <ion-col class="form-group col-md-12 push-3">                  
                          <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesZAR.twohundred" class="form-control" placeholder="R200s"></ion-input>
                          <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesZAR.hundred" class="form-control" placeholder="R100s"></ion-input>
                          <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesZAR.fifty" class="form-control" placeholder="R50s"></ion-input>
                          <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesZAR.twenty" class="form-control" placeholder="R20s"></ion-input>
                          <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesZAR.ten" class="form-control" placeholder="R10s"></ion-input>
                          <button style="margin-top: 15px;" class="btn btn-success" (click)="Link()">Add Break-Down</button>              
                 </ion-col>
                  
                  <ion-col class="form-group col-md-12">
                      <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesZAR.fivedollarcoin" class="form-control" placeholder="R5 coins"></ion-input>
                      <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesZAR.twodollarcoin" class="form-control" placeholder="R2 coins"></ion-input>
                      <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesZAR.dollarcoin" class="form-control" placeholder="R1 coins"></ion-input>
                      <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesZAR.fiftycoin" class="form-control" placeholder="50c coins"></ion-input>
                      <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesZAR.twentycoin" class="form-control" placeholder="20c coins"></ion-input>
                      <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesZAR.tencoin" class="form-control" placeholder="10c coins"></ion-input>
                      <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesZAR.fivecoin" class="form-control" placeholder="5c coins"></ion-input>
                      
                     
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="currency == 'GBP'">
                    <ion-col class="form-group col-md-12 push-3">                  
                             <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesGBP.fifty" class="form-control" placeholder="£50s"></ion-input>
                            <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesGBP.twenty" class="form-control" placeholder="£20s"></ion-input>
                            <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesGBP.ten" class="form-control" placeholder="£10s"></ion-input>
                            <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesGBP.five" class="form-control" placeholder="£5s"></ion-input>
                            <button style="margin-top: 15px;" class="btn btn-success" (click)="Link()">Add Break-Down</button>     
                   </ion-col>
                    
                    <ion-col class="form-group col-md-12">
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesGBP.twodollarcoin" class="form-control" placeholder="£2 coins"></ion-input>
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesGBP.dollarcoin" class="form-control" placeholder="£1 coins"></ion-input>
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesGBP.fiftycoin" class="form-control" placeholder="50p coins"></ion-input>
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesGBP.twentycoin" class="form-control" placeholder="20c coins"></ion-input>
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesGBP.tencoin" class="form-control" placeholder="10p coins"></ion-input>
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesGBP.fivecoin" class="form-control" placeholder="5p coins"></ion-input>
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesGBP.twocoin" class="form-control" placeholder="2p coins"></ion-input>
                        <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesGBP.onecoin" class="form-control" placeholder="1p coins"></ion-input>
                             
                                
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="currency == 'EUR'">
                      <ion-col class="form-group col-md-12 push-3">     
                              <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesEUR.fivehundred" class="form-control" placeholder="€500s"></ion-input>                                       
                              <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesEUR.twohundred" class="form-control" placeholder="€200s"></ion-input>
                              <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesEUR.hundred" class="form-control" placeholder="€100s"></ion-input>
                              <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesEUR.fifty" class="form-control" placeholder="€50s"></ion-input>
                              <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesEUR.twenty" class="form-control" placeholder="€20s"></ion-input>
                              <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesEUR.ten" class="form-control" placeholder="€10s"></ion-input>
                              <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesEUR.five" class="form-control" placeholder="€5s"></ion-input>
                              <button style="margin-top: 15px;" class="btn btn-success" (click)="Link()">Add Break-Down</button> 
                      </ion-col>
                      
                      <ion-col class="form-group col-md-12">
                          <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesEUR.twodollarcoin" class="form-control" placeholder="€2 coins"></ion-input>
                          <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesEUR.dollarcoin" class="form-control" placeholder="€1 coins"></ion-input>
                          <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesEUR.fiftycoin" class="form-control" placeholder="50c coins"></ion-input>
                          <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesEUR.twentycoin" class="form-control" placeholder="20c coins"></ion-input>
                          <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesEUR.tencoin" class="form-control" placeholder="10c coins"></ion-input>
                          <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesEUR.fivecoin" class="form-control" placeholder="5c coins"></ion-input>
                          <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesEUR.twocoin" class="form-control" placeholder="2c coins"></ion-input>
                          <ion-input (keypress)="onKeyPressed($event)" type="number" [(ngModel)]="CashNotesEUR.onecoin" class="form-control" placeholder="1c coins"></ion-input>
                           
                                
                                         
                      </ion-col>
                    </ion-row>
          
        </ion-grid>
  
       
       
     
  </ion-content>
  